body{
    display: grid;
}


.container{
    position: fixed;
    display: grid;
    width: 99.1%;
    column-gap: 2vw;
    grid-template-columns: 32vw 32vw 32vw;
    justify-content: center;
    justify-self: center;
    place-items: center;
    text-align: center;
    top: 190px;

}

.box{
    position: relative;
    place-items: center;
    height: 100%;
}


#picture1{
    width: 15vw;
    object-fit: cover;
    justify-self: center;
    border-radius: 20px;
    border-style: solid;
    border-width: 3.5px;
    border-color: #8d705e   ;
}

#picture2{
    width: 26vw;
    object-fit: cover;
    justify-content: center;
    border-radius: 20px;
    border-style: solid;
    border-width: 3.5px;
    border-color: #8d705e;
}

#picture3{
    width: 26vw;
    object-fit: cover;
    justify-content: center;
    border-radius: 20px; 
    border-style: solid;
    border-width: 3.5px;
    border-color: #8d705e;
}              

#me{
    position: relative;
}

#music{
    position: relative;
}

#cosplay{
    position: relative;
}

#text{
    position: relative;
    border-style: solid;
    border-width: 3px;
    border-radius: 10px;
    border-color: #8d705e;
}          


img{
    transition: background-color 0.4s ease, transform 0.4s ease;
}

img:hover{
    transform: scale(1.05);
}

@media only screen and (max-width: 1230px)
{

    .container{
        position: relative;
        justify-self: center;
        display: grid;
        grid-template-columns: 100%;
        width: 80vw;
    }

    #picture1{
        width: 45vw;
    }

    #picture2{
        width: 55vw;
    }

    #picture3{
        width: 55vw;
    }
}

