.container{
    position: fixed;
    display: grid;
    column-gap: 2%;
    grid-template-columns: 30% 30% 30%;
    justify-content: center;
    place-items: center;
    text-align: center;
    top: 170px;
}

.box{
    position: relative;
    place-items: center;
}

#text.box{
    height: 100%;
}

#picture1{
    display: grid;
    width: 50%;
    height: 60%;
    object-fit: cover;
    justify-content: center;
    border-radius: 20px;
}

#picture2{
    display: grid;
    width: 75%;
    object-fit: cover;
    justify-content: center;
    border-radius: 20px;
}

#picture3{
    display: grid;  
    position: relative;
    width: 55%;
    object-fit: cover;
    justify-content: center;
    border-radius: 20px; 
}              

#me{
    position: relative;
}

#music{
    position: relative;
}

#cosplay{
    position: relative;
}

#text{

}  

#text1{
    position: relative;
    border-style:dashed;
    border-radius: 5px;
    border-width: 2px;
}          

#text2{
    position: relative;
    border-style:dashed;
    border-radius: 5px;
    border-width: 2px;
}              

#text3{
    position: relative;
    border-style:dashed;
    border-radius: 5px;
    border-width: 2px;
}              

img{
    transition: background-color 0.4s ease, transform 0.4s ease;
}

img:hover{
    transform: scale(1.05);
}
@media only screen and (max-width: 950px) {

img:hover{
    transform: scale(1);
}

.container{
    position: relative;
    display: block;
    top: 220px;
    grid-template-columns: 20%;
    height: 1200px;
}

.box{
    position: relative;
    height: 0;
}

#text.box{
    position: relative;
    height: 0;
}

h1{
    font-size: 20px;
}

p{
    font-size: 12px;
    font-weight: 550;
}

#picture1{
    position: relative;
    width: 250px;
    height: 310px;
    bottom: 200px;
}

#me{
    position: relative;
    top: 115px;
}

#text1{
    position: relative;
    top: 115px;
}

#picture2{
    position: relative;
    width: 350px;
    height: 260px;
    top: 250px;
}

#music{
    position: relative;
    top: 500px;
}

#text2{
    position: relative;
    top: 500px;
}

#picture3{
    position: relative;
    width: 350px;
    height: 340px;
    top: 640px;
}

#cosplay{
    position: relative;
    top: 950px;
}

#text3{
    position: relative;
    top: 950px;
}

}
