body{
    display: grid;
}


.container{
    position: fixed;
    display: grid;
    width: 99.1%;
    column-gap: 2vw;
    grid-template-columns: 32vw 32vw 32vw;
    justify-content: center;
    justify-self: center;
    place-items: center;
    text-align: center;
    top: 190px;

}

.box{
    position: relative;
    place-items: center;
    height: 100%;
}


#picture1{
    width: 15vw;
    object-fit: cover;
    justify-self: center;
    border-radius: 20px;
    border-style: solid;
    border-width: 3.5px;
    border-color: #8d705e   ;
}

#picture2{
    width: 26vw;
    object-fit: cover;
    justify-content: center;
    border-radius: 20px;
    border-style: solid;
    border-width: 3.5px;
    border-color: #8d705e;
}

#picture3{
    width: 26vw;
    object-fit: cover;
    justify-content: center;
    border-radius: 20px; 
    border-style: solid;
    border-width: 3.5px;
    border-color: #8d705e;
}              

#me{
    position: relative;
}

#music{
    position: relative;
}

#cosplay{
    position: relative;
}

#text{
    position: relative;
    border-style: solid;
    border-width: 3px;
    border-radius: 10px;
    border-color: #8d705e;
}          


img{
    transition: background-color 0.4s ease, transform 0.4s ease;
}

img:hover{
    transform: scale(1.05);
}

@media only screen and (max-width: 1230px)
{

    .container{
        position: relative;
        justify-self: center;
        display: grid;
        grid-template-columns: 100%;
        width: 80vw;
    }

    #picture1{
        width: 30vw;
    }

    #picture2{
        width: 45vw;
    }

    #picture3{
        width: 45vw;
    }
}


/*
@media only screen and (max-width: 1081px) {

img:hover{
    transform: scale(1);
}

.container{
    position: relative;
    display: block;
    top: 220px;
    grid-template-columns: 20%;
    height: 1200px;
}

.box{
    position: relative;
    height: 0;
}

#text.box{
    position: relative;
    height: 0;
}

h1{
    font-size: 20px;
}

p{
    font-size: 12px;
    font-weight: 550;
}

#picture1{
    position: relative;
    width: 250px;
    height: 310px;
    bottom: 200px;
}

#me{
    position: relative;
    top: 115px;
}

#text1{
    position: relative;
    top: 115px;
}

#picture2{
    position: relative;
    width: 350px;
    height: 260px;
    top: 250px;
}

#music{
    position: relative;
    top: 500px;
}

#text2{
    position: relative;
    top: 500px;
}

#picture3{
    position: relative;
    width: 350px;
    height: 340px;
    top: 660px;
}

#cosplay{
    position: relative;
    top: 970px;
}

#text3{
    position: relative;
    top: 970px;
}

}
*/