

.skills{
    position: fixed;
    border-style: solid;
    border-width: 5px;
    border-radius: 10px;
    border-color: #a3594f;
    width: 210px;
    top: 120px;
    font-size: 15px;
}

#skillsTitle{
    text-align: center;
    color: #c8301f;
}

#skillsText{
    position: absolute;
    text-align: center;
    border-style: solid;
    border-width: 3px;
    border-radius: 10px;
    border-color: #a3594f;
    left: 25vw;
    bottom: 150px;
    width: 50vw;
    font-size: 1.4vw;
}

.HTML{
    font-weight: bold;
    color: #e34c26;
}

.CSS{
    font-weight: bold;
    color:#733ca9;
}

.bootstrap{
    font-weight: bold;
    color:#42186c;
}

.tailwind{
    font-weight: bold;
    color: #d23d8f;
}

.javascript{
    font-weight: bold;
    color: #d1bc00;

}

.NPM{
    font-weight: bold;
    color: #cb3837;
}    

.typescript{
    font-weight: bold;
    color: #006bb3;
}

.electron{
    font-weight: bold;
    color: #80d6e8;
}

.nodejs{
    font-weight: bold;
    color: #81cd39;
}

.PHP{
    font-weight: bold;
    color: #4f5d95;
}    

.laravel{
    font-weight: bold;
    color: #ff0d00;
}    

.SQL{
    font-weight: bold;
    color: #9195cd;
}    
.SQLite{
    font-weight: bold;
    color: #0f8ce0;
}    

.mySQL{
    font-weight: bold;
    color: #39778d;
}    

.PHPMyAdmin{
    font-weight: bold;
    color: #f29111;
}    

.noSQL{
    font-weight: bold;
    color: #007832;
}    

.mongoDB{
    font-weight: bold;  
    color: #10aa50;
}    

@media only screen and (max-width: 1230px) {

    .skills{
        font-size: 12.5px;
        width: 190px;
        top: 10px;

    }

    #skillsText{
        left: 0vw;
        width: 99.46vw;
        font-size: 15px;
    }

}








