.container{
    display: flex;
    position: relative;
    justify-content: center;
    margin: auto ;
    column-gap: 1rem;
    top: 150px;
    background-color: #fed18f;
    width: 95%;
    height: 1600px;
    border-radius: 25px;
    flex-wrap: wrap;
}

#introductieText{
    position: relative;
    text-align: center;
    font-weight:bolder;
    font-size: 18px;
}

#lijstText{
    position: absolute;
    text-align: center;
    z-index: 1;
}

.project{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    background-color: rgb(255, 228, 152);
    border-style: solid;
    border-color: rgb(64, 64, 64);
    border-width: 4px;
    border-radius: 5px;
    width: 22rem;
    height: 25%;
    top: 100px;
    transition: background-color 0.4s ease, transform 0.4s ease, box-shadow 0.4s ease;
}

.project:hover{
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(255, 255, 255, 0);
}

.picture{
    position: relative;
    object-fit: cover;
    width: 100%;
    height: 12rem;
}

.projectText{
    position: relative;
    text-align: center;
    font-weight: 500;
}

.downloadButton{
    position: relative;
    display: flex;
    background-color: #c04c40;
    color: white;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    margin: auto;
    font-weight: bold;
    bottom: 10px;
    padding: 15px;
    width: 70%;
    border-radius: 10px;
}



@media only screen and (max-width: 0px) {

    .container{
        grid-template-columns: auto;
    }

    .project{
        width: 70%;
        height: 70%;
    }
}