.container{
    display: grid;
    grid-template-columns: auto auto;
    position: relative;
    justify-content: center;
    margin: auto;
    top: 70px;
    background-color: #fed18f;
    width: 70%;
    height: 1600px;
    border-radius: 25px;
}

.space{
    height: 100px;
}

.project{
    position: relative;
    text-align: center;
    margin: 10% auto;
    background-color: rgb(255, 228, 152);
    border-style: solid;
    border-color: rgb(64, 64, 64);
    border-width: 4px;
    border-radius: 5px;
    width: 50%;
    height: 23%;
    transition: background-color 0.4s ease, transform 0.4s ease, box-shadow 0.4s ease;
}

.project:hover{
    transform: scale(1.09);
    box-shadow: 0 6px 12px rgba(255, 255, 255, 0);
}

.projectText{
    position: relative;
    text-align: center;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
}

.downloadButton{
    position: relative;
    display: flex;
    background-color: #c04c40;
    color: white;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    margin: auto;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    padding: 15px;
    width: 70%;
    border-radius: 10px;
}

#rpgPicture{
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
    margin: auto;

}

#marsPicture{
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
    margin: auto;
}

